
<h1>Select Login</h1>
<div class="login-views">
    <a class="property-button" asp-controller="PropertyOwnerAccount" asp-action="Login">
        <img src="~/img/suitcase.png" />
        <h3>Owner Login</h3>
    </a>
    <a class="manager-button" asp-controller="PropertyManagerAccount" asp-action="Login">
        <img src="~/img/hand-shake.png" />
        <h3>Manager Login</h3>
    </a>
    <a class="tenant-button" asp-controller="TenantAccount" asp-action="Login">
        <img src="~/img/user.png" />
        <h3>Tenant Login</h3>
    </a>
    <a class="search-apartment-button" asp-controller="Apartments" asp-action="Index">
        <img src="~/img/building.png" />
        <h3>Apartments</h3>
    </a>
</div>
