@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="PropertyOwners" asp-action="Index">Go to Property Owners</a>
    <br />
    <a asp-controller="PropertyManagers" asp-action="Index">Go to Property Managers</a>
    <br />
    <a asp-controller="Buildings" asp-action="Index">Go to Buildings</a>
    <br />
    <a asp-controller="Apartments" asp-action="Index">Go to Apartments</a>
    <br />
    <a asp-controller="Tenants" asp-action="Index">Go to Tenants</a>
    <br />
    <a asp-controller="Appointments" asp-action="Index">Go to Appointments</a>
    <br/>
    <a asp-controller="Messages" asp-action="Index">Go to Messages</a>
    <br/>
    <a asp-controller="PropertyOwnerAccount" asp-action="Login">Property Owner Login</a>
</div>
